@import url("https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,700&display=swap");
:root {
  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);

  font-family: "Karla", serif;
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 100vh;
  background-color: var(--Light-Gray);
  display: flex;
  
  justify-content: center;
  align-items: center;
}

.box1 {
  background-color: white;

  color: var(--Bright-Yellow);
  height: 200px;
  width: 800px;
  
  padding-top: 2rem;
  padding-left: 4rem;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.box1 > h1 {
  color: var(--Cyan);
}
.box1 > h2 {
  padding: 20px 0px;
}
.box1 > h3 {
  
  color: var(--Grayish-Blue);
}
.combo {
  display: flex;
}
.box2 {
  background-color: var(--Cyan);
  color: white;

  height: 300px;
  width: 400px;
  padding-left: 4rem;
  padding-top: 2rem;
  border-bottom-left-radius: 5px;
}
.box2 > .price {
  display: flex;
  gap: 1rem;
  padding: 20px 0px;
  /* font-size: 2rem; */
}
.box2 > .price > p {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 7px; */
}
button {
  background-color: var(--Bright-Yellow);
  color: white;
  padding: 12px 97px;
  margin-top: 25px;
  border: none;
  border-radius: 5px;
}
.box3 {
  background-color: #49BEBD;
 
  color: white;
  height: 300px;
  width: 400px;
  padding-left: 4rem;
  padding-top: 2rem;
  border-bottom-right-radius: 5px;
}
.box3 > p {
  padding: 20px 0px;
  
  line-height: 22px;
}
@media (max-width: 375px) {
  
  .head {
    display: flex;
    flex-direction: column;
  }
  .combo {
    display: flex;
    flex-direction: column;
  }
  .box1{
    height: 250px;
    width: 320px;
    right: 2rem;
   
    padding: 7px 30px;

  }
  .box1 > h1{
    font-size: 25px;
  }
  .box1 > h2{
    padding: 10px 0px;
    font-size: 20px;
  }
  .box1 > h3{
    font-size: 16px;
    line-height: 25px;
  }
  .box2{
    height: 250px;
    width: 320px;
    /* left: 1rem; */
    padding: 20px 30px;
    border-bottom-left-radius: 0px;
  }
  .box3{
    height: 250px;
    width: 320px;
    padding: 20px 30px;
   
    border-bottom-left-radius: 5px;
  }
}